extends layouts/default

block vars
  -
    page = {
      language: 'ru',
      name: 'home',
      title: 'guest',
      appTitle: 'Стартовый шаблон',
      description: 'Стартовый шаблон для верстки'
    }

block header
  h1 Header
block main
  h1 Main
block footer
  h1 Footer